@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*, body, html, .navbar-brand{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 50px;
}
.hero{
    background-image: url('../img/18.jpg');
    background-position: initial;
}
gallery {
    background-image: url('../img/bckg-img\ -\ Copy.JPG') !important;
    background-position: center;
    text-shadow: rgb(0,0,0,0);
}
.p-k{
    padding-top: 9rem;
    margin-top: -2rem !important;
}
.sp{
    font-size: 6.4rem !important;
}
.ss{
    margin-top: 3.7rem;
    font-size: 2.5rem;
}
.about{
    background-image: url('../img/12.jpg');
}
.ts{
    text-shadow: 2px 4px #00ffff;
}
.str{
    -webkit-text-stroke: 0.9px rgb(100, 100, 248);
}
.stt{
    -webkit-text-stroke: 0.3px white; 
}
.x .ab{
    background-color: rosybrown;
}
.team{
    background-image: url('../img/bckg-img - Copy.JPG');
}
.Cu {
    background-image: url('../img/21-1.jpg');
}
.serv{
    background-image: url('../img/bckg-img1.JPG')
}
.tea{
    background-image: url('../img/9.jpg');
}
